{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-6">
      <h1>Hello,{{ current_user.username }}</h1>
      <br>
      {% import 'bootstrap/wtf.html' as wtf %}
      {{ wtf.quick_form(form) }}
      <hr>
      {% for post in posts.items %}
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ post.author.username }}</h4>
            <small class="text-muted">{{ post.timestamp }}</small>
            <p>{{ post.name }}</p>
            <p>{{ post.description }}</p>
            <p>{{ post.currency }}</p>
          </div>
        </div>
      {% endfor %}
      <hr>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}